*,
*::after,
*::before {
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: $background-color-black;
  color: $color-white;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  padding: 20px;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 1.6rem;
}

h6 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

strong {
  font-weight: bold;
}